{:hr.db/conn      {:host "localhost" :port 15432
                   :dbname "xtdb" :user "xtdb" :password "xtdb"}
 :hr.db/migrated  {:conn #ig/ref :hr.db/conn}
 :hr.web/handler  {:db #ig/ref :hr.db/migrated}
 :hr.web/server   {:handler #ig/ref :hr.web/handler
                   :port 3002}}
